/* Ocultar las barras de desplazamiento pero mantener el desplazamiento */
.scrollbar-hidden {
  overflow-y: scroll; /* Asegura que el contenido sea desplazable */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores basados en Webkit (Chrome, Safari) */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Oculta la barra de desplazamiento en IE y Edge */
  scrollbar-width: none;  /* Oculta la barra de desplazamiento en Firefox */
}
