/* Estilo para ocultar las respuestas inicialmente */
  .faq-answer {
    display: none;
  }
  
  .faq-question:hover {
    background-color: #3b3b3b;
    cursor: pointer;
  }

  /* Archivo global styles.css */
  html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;  /* Oculta el scroll horizontal */
  overflow-y: hidden;  /* Muestra solo el scroll vertical */
  }

  /* Aplica a main */
main {
  width: 100vw;
  height: 100vh;
  overflow-y: auto hidden; /* Permite el scroll vertical */
  overflow-x: hidden; /* Oculta el scroll horizontal */
}

.scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }