<main class="w-screen h-auto absolute top-0">
            <!-- menu principal -->
        <nav class="z-30 flex justify-center">
            <ul class="flex text-sm space-x-2"> <!-- Usamos space-x-4 para separar los items -->
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="">Inicio</a></li>
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="/events">Eventos</a></li>
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="/map">Mapa</a></li>
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="/blog">Blog</a></li>
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="/faq">Faq</a></li>
            </ul>
        </nav>

</main>