<main class="w-screen h-screen relative bg-gradient-to-r from-black via-gray-800 to-black">
    <!-- Contenedor principal -->
    <div class="flex flex-col sm:flex-row items-center justify-center w-full h-full px-6 py-8 sm:px-12 sm:py-16">
        
        <!-- Sección de contenido (Texto a la izquierda) -->
        <div class="w-full sm:w-1/2 lg:w-1/2 text-left px-4 mb-12">
            <h1 class="text-4xl sm:text-5xl font-bold text-white text-opacity-90 leading-tight mb-6 px-12">
                ¡Descubre el Corazón del Caribe Colombiano!
            </h1>
            <p class="text-lg sm:text-xl text-white text-opacity-90 leading-relaxed mb-6 px-12">
                Viajando Hoy es la plataforma que te conecta con lo mejor de Montería y Sincelejo, dos destinos vibrantes en la región Caribe de Colombia. 
                Ya sea que busques naturaleza, cultura, historia o gastronomía, aquí encontrarás todo lo necesario para hacer de tu viaje una experiencia inolvidable. <br><br>
                ¡Únete a nosotros y empieza a explorar!
            </p>
        </div>

        <!-- Galería de imágenes (Galería a la derecha) -->
        <div class="w-full sm:w-1/2 lg:w-1/2">
            <!-- Galería en 2 columnas y 3 filas -->
            <div class="grid grid-cols-2 grid-rows-3 gap-8">
                <!-- Imagen 1 -->
                <div class="relative w-full h-full rounded-lg overflow-hidden shadow-2xl transform transition-transform duration-300 ease-in-out hover:scale-105">
                    <img src="../../imgs/monteria_recorrido.jpeg" alt="Recorrido Montería" class="w-full h-auto rounded-xl">
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 hover:opacity-0 transition-opacity duration-300"></div>
                </div>

                <!-- Imagen 2 -->
                <div class="relative w-full h-full rounded-lg overflow-hidden shadow-2xl transform transition-transform duration-300 ease-in-out hover:scale-105">
                    <img src="../../imgs/rio-sinu.jpg" alt="Reinado Rio Sinu" class="w-full h-auto rounded-xl">
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 hover:opacity-0 transition-opacity duration-300"></div>
                </div>

                <!-- Imagen 3 -->
                <div class="relative w-full h-full rounded-lg overflow-hidden shadow-2xl transform transition-transform duration-300 ease-in-out hover:scale-105">
                    <img src="../../imgs/20-enero.jpg" alt="Fiesta 20 de Enero Sincelejo" class="w-full h-auto rounded-xl">
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 hover:opacity-0 transition-opacity duration-300"></div>
                </div>

                <!-- Imagen 4 -->
                <div class="relative w-full h-full rounded-lg overflow-hidden shadow-2xl transform transition-transform duration-300 ease-in-out hover:scale-105">
                    <img src="../../imgs/feria_ganadera.jpg" alt="Feria Ganadera Monteria" class="w-full h-auto rounded-xl">
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 hover:opacity-0 transition-opacity duration-300"></div>
                </div>

                <!-- Imagen 5 -->
                <div class="relative w-full h-full rounded-lg overflow-hidden shadow-2xl transform transition-transform duration-300 ease-in-out hover:scale-105">
                    <img src="../../imgs/fiestas_del_rio.jpg" alt="Fiestas del Rio Montería" class="w-full h-auto rounded-xl">
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 hover:opacity-0 transition-opacity duration-300"></div>
                </div>

                <!-- Imagen 6 -->
                <div class="relative w-full h-full rounded-lg overflow-hidden shadow-2xl transform transition-transform duration-300 ease-in-out hover:scale-105">
                    <img src="../../imgs/corraleja_sincelejo.jpg" alt="Corralejas Sincelejo" class="w-full h-auto rounded-xl">
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 hover:opacity-0 transition-opacity duration-300"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Botón de exploración centrado abajo -->
    <div class="absolute bottom-12 w-full flex justify-start pl-72">
        <a href="/map" class="px-8 py-4 bg-gradient-to-r from-purple-600 to-gray-700 text-white text-lg font-semibold rounded-full shadow-lg transition-all duration-300 hover:scale-105 hover:shadow-xl">
            ¡Explora Ahora!
        </a>
    </div>
</main>
