<header>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</header>

<main class="w-full h-screen relative">
	<section class="flex block bg-black h-full w-full relative overflow-hidden">
			<div class="absolute w-full top-0 left-0 z-30 mt-8"> <!-- Agregamos mt-8 para separación -->
        <!-- logo -->
        <img class="absolute z-30 filter brightness-175 left-1/2 transform translate-x-[-50%] top-12" src="../../logo/logo.png" alt="Mi Logo">

        <!-- menu principal -->
        <nav class="z-30 flex justify-center">
            <ul class="flex text-sm space-x-2"> <!-- Usamos space-x-4 para separar los items -->
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="">Inicio</a></li>
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="/events">Eventos</a></li>
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="/map">Mapa</a></li>
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="/blog">Blog</a></li>
                <li><a class="px-4 py-2 text-white hover:bg-[#D8D8D84D] hover:text-black rounded" href="/faq">Faq</a></li>
            </ul>
        </nav>

    </div>

    <a class="absolute px-4 py-1 mt-7 mr-4 text-black-500 bg-white hover:bg-[rgb(238, 238, 238)] rounded-full z-30 top-0 right-0 mr-36 h-10 w-10 flex justify-center" href="/account">
        	<i class="fa-solid fa-user mt-2"></i>
    </a>

    <h3 class="absolute z-30 text-white top-72 left-1/2 transform translate-x-[-50%]">Agenda tu lugar y no te pierdas las celebraciones del año. ¡Únete a la diversión!</h3>

    <!-- video de fondo -->
    <div class="absolute top-0 left-0 w-full z-0">
        <video autoplay loop muted class="w-full h-full object-cover filter brightness-50 contrast-125">
            <source src="../../vids/trancision.mp4" type="video/mp4">
        </video>
    </div>

    	<footer class="z-30 absolute bottom-0 mb-10 left-1/2 transform translate-x-[-50%] border border-white px-4 py-2 hover:bg-[#D8D8D84D] ">
    		<a class="text-white" href="#">Conoce más</a>
		</footer>

 	</section>
</main>